.logo{
	background: url(twospoons_logo.png);
	width: 200px;
	height: 140px;
	display: block;

}

.container{
	margin: 0 auto;
}

.ProImg{
	float: right;
	height: 400px;

}

.ProImg img{
	padding-right: 60px;
	padding-top: 40px;
}

.text{
	padding-left:30px;
	padding-top: 40px;
	text-align: left;
	font-family: times new roman;
	font-size: 25px;
	color: #736464;

}

.text p{


}