.logo{
	background: url(twospoons_logo.png);
	width: 200px;
	height: 140px;
	display: block;

}

.container{
	margin: 0 auto;
}

.text{
	width: 400px;
	margin-left: 100px;

}

.text p{
	font-family: "times new roman";
	font-size: 25px;
	color: #736464;
	letter-spacing: 3px;


}

.ProImg{
	float: right;
	height: 400px;
	clear: both;

}

.product_img img span a:hover{
	text-transform: 50px;
	color: orange;
}