.NavBar {
    margin: 20px;
    padding: 20px;
    width: 100%;
    height: 20%;
    word-spacing: 30px;
    text-align: center;
}


.NavBar li {
  display: inline-block;
}

.NavBar li a {
  color: gray;
  font-family: "Times New Roman";
  list-style-type: none;
  letter-spacing: 4px;
  font-size: 40px;
  text-decoration: none;

}

/*.SocialMediaBar {
    list-style-type: none;
    margin: 40px;
    padding: 20px;
    width: 200px;
    height: 50%;
    background-color: #736464;
    position: fixed; 
    font-family: "Times New Roman";
    font-size: 20px;
    transform: rotate(90deg);
    transform-origin: left top 0;
    float: left;
    
}

.SocialMediaBar li {
  display: inline-block;
}

.button {
    font-family: "Times New Roman";
    font-size: 20px;
    border-color: 757575;
    color: white;
    text-align: center;
    text-decoration: none;
    height: 40px;
    width: 30px;
    border-radius: 40%;

}*/