.logo{
  background: url(twospoons_logo.png);
  width: 200px;
  height: 140px;
  display: block;
}

.NavBar {
    margin: 20px;
    padding: 20px;
    width: 100%;
    height: 20%;
    word-spacing: 30px;
    text-align: center;
}


.NavBar li {
  display: inline-block;
}

.NavBar li a {
  color: gray;
  font-family: "Times New Roman";
  list-style-type: none;
  letter-spacing: 4px;
  font-size: 40px;
  text-decoration: none;

}

.SocialMediaBar {
    margin: 60px;
    padding: 20px;
    width: 2000px;
    height: 350%;
    background-color: gray;
    position: fixed; 
    font-family: "Times New Roman";
    font-size: 20px;
    transform: rotate(90deg);
    transform-origin: left top 0;
    float: left;
    color: black;
    opacity: .6;
    font-weight: bold;
    
}

.SocialMediaBar li {
  display: inline-block;
  /*list-style-type: none;*/
}

.SocialMediaBar a {
  text-decoration: none;
  color: white;
}

.facebook {
  width: 30px;
  height: 30px;
}

.twitter {
  width: 20px;
  height: 30px;
}
