.logo{
	background: url(twospoons_logo.png);
	width: 200px;
	height: 140px;
	display: block;

}

.hero1 {
	background: url(hero1.jpg);
	/*width:400px;*/
	height: 400px;

}

.hero2{
	background: url(img17.jpg);
	background-size: cover;
	/*width:400px;*/
	height: 400px;

}

.product_img{
	float: left;
	margin: 50;
	padding: 20px;

}

.product_img a{
	color: #736464;
	text-decoration: none;
	text-align: center;
	font-family: times new roman, verdana;
	font-size: 18px;
	text-decoration: none;
	letter-spacing: 2px;
}

.product_img img{
	height: 250px;
	width: 230px;
}
