.NavBar {
    list-style-type: none;
    margin: 40px;
    padding: 20px;
    width: 50%;
    height: 50%;
    background-color: #f1f1f1;
    position: fixed; 
    font-family: "Times New Roman";
    font-size: 20px;
    transform: rotate(90deg);
    transform-origin: left top 0;
    float: left;
    
}

.button {
    font-family: "Times New Roman";
    font-size: 20px;
    border-color: 757575;
    color: white;
    text-align: center;
    text-decoration: none;
   /* height: 40px;
    width: 30px;
    border-radius: 40%;*/

}

/*.button.hover {
  font-family: "Times New Roman";
  font-size: 20px;
  text-align: center;
  color: 21CF61;
}*/


/*.about {
list-style-type: none;
    margin: 40px;
    padding: 20px;
    width: 50%;
    height: 50%;
    background-color: #f1f1f1;
    position: fixed; 
    font-family: "Times New Roman";
    font-size: 20px;
    transform: rotate(90deg);
    transform-origin: left top 0;
    float: left;
}*/

/*.cookware {
list-style-type: none;
    margin: 40px;
    padding: 20px;
    width: 50%;
    height: 50%;
    background-color: #f1f1f1;
    position: fixed; 
    font-family: "Times New Roman";
    font-size: 20px;
    transform: rotate(90deg);
    transform-origin: left top 0;
    float: left;
}*/

/*.recipes {
  list-style-type: none;
    margin: 40px;
    padding: 20px;
    width: 50%;
    height: 50%;
    background-color: #f1f1f1;
    position: fixed; 
    font-family: "Times New Roman";
    font-size: 20px;
    transform: rotate(90deg);
    transform-origin: left top 0;
    float: left;
}*/